<%layout("/layouts/boilerplate")%>
<h3 class="text-center mb-3">Create a New Listing</h3>
<div class="row">
  <div class="col-8 offset-2">
    <form method="POST" action="/listings">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          placeholder="enter title"
          type="text"
          class="form-control"
        />
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          placeholder="enter description"
          class="form-control"
        ></textarea>
      </div>

      <div class="mb-3">
        <label for="Image" class="form-label">Image-link</label>
        <input
          name="listing[image]"
          placeholder="enter image URL/Link"
          type="text"
          class="form-control"
        />
      </div>
      <div class="row">
        
          <div class="mb-3 col-md-4">
            <label for="Image" class="form-label">Price</label>
            <input
              name="listing[price]"
              placeholder="enter price"
              type="number"
              class="form-control"
            />
          </div>

          <div class="mb-3 col-md-8">
            <label for="Image" class="form-label">Country</label>
            <input
              name="listing[country]"
              placeholder="enter country"
              type="text"
              class="form-control"
            />
          </div>
        
      </div>

      <div class="mb-3">
        <label for="Image" class="form-label">location</label>
        <input
          name="listing[location]"
          placeholder="enter location"
          type="text"
          class="form-control"
        />
      </div>
      <br />
      
      <button class="btn btn-dark add-btn">Add</button>
      
    </form>
    <br/>
  </div>
</div>
